/* always defaykt margin and padding  */

/* body */
body {
    font-family: 'Roboto', Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0; 
}

/* adding 100 percent to html and vody then flex and flex direction column
ensrues full 100 percent heigh */
.header , .section1, .section2,.section3 , .section4,.footer {
    padding:0 12vw;
    /* vw viewport width on top bottom  */
}

header {
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 12vw;
    /* if you want to change padding have to reafirm 12vw left right */
}

.header-logo {
    display:flex;
    align-items: center;
    justify-content: center;

    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
    padding:0px;

}

.header-logo a {
    display:flex;
    align-items:center;
    text-decoration:none;
    color:inherit;
    gap:10px;
}

.link {
    display:flex;
    text-decoration: none;
    /* removes underline form links */
    color: #f9faf8;
    font-size: 12px; 
    font-weight: bold;
    padding:0px;
    gap:20px;
    list-style:none;
    /* removes bullets and numbers */
}

li a {
    text-decoration:none;
    color: #e5e7eb;
}


/* section1 */

.section1 {
    display:flex;
    flex:1;
    /* flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
    flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
    flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                         take up screen as per the screen size available for
                         e.g:- if 3 divs are in the wrapper then each div will take 33%. */

    /* my understanding flex grow grow to take up extra space in section1
    shrink shrink to take up less space if there is not enough in section1
    flex basis 0 no intial preffered size distributed based on felx grow  */
    background-color: #1f2937;
    margin:0px;
    padding: 125px 12vw;
    justify-content: space-between;
    align-items:center;
    gap:50px
}


.column-elements {
    flex:1;
    /* flex-direction:column;
    margin-left: 200px;
    padding:0px; */
}

.column-elements h1 {
    color: #f9faf8;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.column-elements p {
    color: #e5e7eb;
    padding: 0;
    margin: 0;
}

.column-elements button {
    color: #f9faf8;
    font-size:18px;
    font-weight:800;
    background-color:#3882f6;
    border:none;
    border-radius:4px;
    padding:8px 20px;
    margin-top:10px;
    /* rounds corners */
}

/* .no-column-elements {
} */

.no-column-elements img {
    max-width:400px;
    max-height:400px;
    border-radius:8px;
}


/* section2 */

.section2 {
    color: #1f2937;
    margin:0;
    padding:50px 12vw;
    text-align:center;
}


/* explanation of why i didnt need flex-direction column
because .column elements is not a flex element
they behave like block elements 
which stack vertically  */

.section2 h1 {
    font-size:24px;
    text-align: center;
}

.container1 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:26px;
    flex-wrap: wrap;
    padding:50px 0px;
    
}

.box {
    border: 2px solid #3882F6; 
    border-radius: 8px; 
    height: 100px; 
    width: 100px;
    /* roundend box */
}
  

.subtext {
    font-size: 16px; 
    margin-top:110px;
}


/* section3 */
.section3 {
    background-color: #e5e7eb;
    display:flex;
    justify-content: center;
    align-items: center;

    margin:0px;
    text-align: center;
}

.quote {
    max-width:600px;
    font-weight:400px;
    font-style:italic;
    font-size: 24px;

}

.quote figcaption{
    font-size:16px;
    font-weight: bold;
    text-align:right;

    margin: 0px; 
    padding: 0px; 
}




.section4 {
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin:100px;
    padding:50px 12vw;
}

.section4 .container {
    background-color: #3882f6;
    color: #f9faf8;
    /* affects every text element in section */
    flex:1;
    /* elements grow shrink in container appropiately */

    padding:50px 100px;
    border-radius:8px;

    display:flex;
    justify-content: space-between;
    align-items:center;
}

.section4 h1 {
    margin:0;
    font-size:28px;
    font-weight:400px;
}

.section4 p {
    margin:0;
    font-size:18px;
    font-weight: 200px;
}

.section4 button {
    color: #f9faf8;
    font-size:12px;
    font-weight:600px;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-style:solid;
    border-radius:8px;
    padding:10px 20px;
}


.footer {
    background-color: #1f2937;
    color: #f9faf8;
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

.footer p {
    margin:25px 0px;
}